
<html>
<head>
    <title>Cuentas de usuario</title>
    <link href="~/StyleSheet.css" rel="stylesheet">
    <link href="~/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <h1>AnimeFull</h1>
        <h1>Divierte disfrutando todo el anime en la mejor calidad</h1>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer>
        <p>
            UNIDAD 4- PROGRAMACIÓN WEB, PROYECTO ELABORADO POR LUIS ANTONIO AGUILAR GARZA
        </p>

    </footer>

</body>
</html>