
@{
    Layout = "_Layout";

}
<h2>Bienvenido, que deseas hacer?</h2>

<div class="contenedor">
    <a href="~/Home/IniciarSesion">
        <input type="button" value="Iniciar Sesion"/>
    </a>
    <a href="~/Home/Registrar">
        <input type="button" value="Registrarme" />
    </a>
</div>
